@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1><a href="http://www.s2snext.com/">S2S NEXT</a> </h1>
    <p>Тестовое задание на вакансию Младший разработчик .Net - Магазин книг</p>
</div>
